html {
    background-color: #384B70;
    color: #FCFAEE;
    padding: 10px;
    font: 13px monospace, 'Courier New', Courier;
}

nav {
  /* 
    I want to keep the nav bar sticky 
    but I will also need to adjust the 
    nav items in reference to window size
  */
  /* position: sticky;
  top: 2px;
  bottom: 0; */
  background-color: #FCFAEE;
  border: thick solid #507687;
  border-radius: 12px;
  margin-bottom: 10px;
}

nav > ol {
  list-style: none;
  color: #384B70;
}

/* nav > ol > li[class="title"] {
  background-color: #384B70;
} */

nav > ol > li {
  display: inline-block;
  border-inline: 1.5px solid #384B70;
  padding-inline: 1rem;
}

article > section, .welcome {
  background-color: #FCFAEE;
  border: thick solid #507687;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 1rem;
  color: #384B70;
}

footer {
  font-weight: bold;
  text-align: center;
}
